<!DOCTYPE html>
<html lang="en" class="vh-100" style="overflow-x: hidden">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Show de Ferramentas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToolsMarket.App.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column">
    <header>
        <div class="container pt-4 pb-4 d-flex flex-row justify-content-between">
            <div class="logo">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img style="width: 150px" src="~/images/logo.png"></a>
            </div>
            <div class="searchbox" style="width: 50%">
                <div class="input-group d-flex justify-content-center align-items-center">
                    <div class="form-outline" style="max-width: 90%; width: 100%">
                        <input type="search" id="form" class="form-control" style="font-size: .8rem; line-height: 1.8" placeholder="Pesquise em toda a loja" />
                    </div>
                    <button type="submit" class="btn text-white outline-none" style="background-color: #ffd333;">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="options-header d-flex flex-row">
                <partial name="_LoginPartial" />
            </div>

        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow d-flex flex-column p-0">
            <div class="container-fluid w-100 pt-2 pb-2" style="background-color: #ffd333">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex w-80">
                        <ul class="navbar-nav w-100 justify-content-evenly">
                            <li class="nav-item">
                                <a class="nav-link text-black-50 fw-bold" asp-area="" asp-controller="Categoria" asp-action="Manuais">Ferramentas Manuais</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black-50 fw-bold" asp-area="" asp-controller="Categoria" asp-action="Pneumaticas">Ferramentas Pneumáticas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black-50 fw-bold" asp-area="" asp-controller="Categoria" asp-action="Automotivas">Automotivas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black-50 fw-bold" asp-area="" asp-controller="Categoria" asp-action="Acessorios">Acessórios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black-50 fw-bold" asp-area="" asp-controller="Categoria" asp-action="Utilidades">Casa e Utilidades</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>   
    <div class="container-fluid p-0" style="overflow-x: hidden;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer position-static" style="line-height: 1;">
        <div class="container-fluid" style="background-color: #ffd333 !important">
            <div class="container pt-5 pb-5 d-flex flex-row justify-content-between">
                <div class="link-group">
                    <ul class="navbar-nav">
                        <h6 class="mb-3 text-uppercase">Categorias</h6>
                        <li class="nav-item" style="line-height: 2">
                            <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="Categoria" asp-action="Manuais">Ferramentas Manuais</a>
                        </li>
                        <li class="nav-item" style="line-height: 2">
                            <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="Categoria" asp-action="Pneumaticas">Ferramentas Pneumáticas</a>
                        </li>
                        <li class="nav-item" style="line-height: 2">
                            <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="Categoria" asp-action="Automotivas">Automotivas</a>
                        </li>
                        <li class="nav-item" style="line-height: 2">
                            <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="Categoria" asp-action="Acessorios">Acessórios</a>
                        </li>
                        <li class="nav-item" style="line-height: 2">
                            <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="Categoria" asp-action="Utilidades">Casa e Utilidades</a>
                        </li>
                    </ul>
                </div>
                <div class="link-group">
                    <ul class="navbar-nav">
                        <h6 class="mb-3 text-uppercase">Institucional</h6>
                        <li class="nav-item" style="line-height: 2">
                            <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="Contato" asp-action="Index">Fale Conosco</a>
                        </li>
                        <li class="nav-item" style="line-height: 2">
                            <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="Sobre" asp-action="Index">Sobre a Loja</a>
                        </li>
                        <li class="nav-item" style="line-height: 2">
                            <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="Politica" asp-action="Index">Política de Envio</a>
                        </li>
                        <li class="nav-item" style="line-height: 2">
                            <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="Troca" asp-action="Index">Trocas e Devoluções</a>
                        </li>
                        <li class="nav-item" style="line-height: 2">
                            <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="Termos" asp-action="Index">Termos de Uso</a>
                        </li>
                        <li class="nav-item" style="line-height: 2">
                            <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="Privacidade" asp-action="Index">Política de Privacidade</a>
                        </li>
                    </ul>
                </div>
                <div class="link-group flex-column">
                    <div>
                        <ul class="navbar-nav">
                            <h6 class="mb-3 text-uppercase">Atendimento</h6>
                            <li class="nav-item" style="line-height: 2">
                                <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="" asp-action="">(61) 3333-0000</a>
                            </li>
                            <li class="nav-item" style="line-height: 2">
                                <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="" asp-action="">(61) 99999-0000</a>
                            </li>
                            <li class="nav-item" style="line-height: 2">
                                <a class="nav-link text-dark p-0" style="font-size: .8rem" asp-area="" asp-controller="" asp-action="">Email: contato@showferramentas.com.br</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="navbar-nav mt-3">
                            <h6 class="mb-3 text-uppercase">Horário de Atendimento:</h6>
                            <p style="font-size: .8rem; line-height: 1;">Segunda à Sexta de 08h às 18h</p>
                            <p style="font-size: .8rem; line-height: 1;">Sábado de 08h às 12h</p>
                        </ul>
                        <button type="button" class="btn btn-outline-dark" style="font-size: .8rem; line-height: 1.6;"> Fale Conosco</button>
                    </div>
                </div>
                <div>
                    <h6 class="mb-3 text-uppercase">NEWSLETTER</h6>
                    <p style="font-size: .8rem; line-height: 1.5">Assine nossa newsletter e fique por dentro de todas as <br /> novidades, lançamentos, promoções e muito mais.</p>
                    <div class="input-group w-100 flex-row align-items-center justify-content-center" style="height:40px">
                        <input type="email" class="form-control border-0" style="font-size: .8rem; line-height: 1; height:40px" placeholder="Digite seu email" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-light" type="button">Enviar</button>
                        </div>
                    </div>
                    <div class="navbar-nav mt-3  ">
                        <h6 class="mb-3 text-uppercase">Siga as nossas Redes Sociais:</h6>
                        @*<button type="button" class="btn btn-dark" style="font-size: .8rem; line-height: 1.6; opacity: 60%;"><span class="fa fa-instagram-square"></span></button>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white w-100 p-3">
            <div class="container text-center" style="font-size: .7rem;">
                Show de Ferramentas LTDA - CNPJ 12.345.678/0001-99 &copy; Todos os direitos reservados. 2022
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
