@using ToolsMarket.App.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUserModel> SignInManager
@inject UserManager<ApplicationUserModel> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @User.Identity.Name!</a>
    </div>
    <fiv class="item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Sair</button>
        </form>
    </fiv>
}
else
{
    <div class="item d-flex align-items-center">
        <a class="nav-link text-dark" style="font-size: .8rem;" asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
    </div>
    <div class="item d-flex align-items-center">
        <a class="nav-link text-dark" style="font-size: .8rem;" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </div>
}

