
<div class="card-group destaque">
    <h3 class="text-center mb-4">Em Destaque</h3>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="card" style="box-sizing: border-box;">
                <div class="card-img-top">
                    <a href="#"> <img src="~/images/produtos/@item.Imagem" alt="@item.Imagem" style="max-width: 100%; width: 50%" /></a>
                </div>
                <div class="card-title">
                    <a href="#"><h6 class="product-name">@item.Nome</h6></a>
                </div>
                <div class="card-preco">
                    <p class="produto-preco">@item.ValorUnitario</p>
                </div>
                <div class="card-forma-pgt">
                    <p class="forma-pgt"><strong>à vista com desconto</strong> ou <strong>10x</strong> de <strong>R$</strong> sem Tarifa</p>
                </div>
                <div class="card-action">
                    <input class="qtd" type="text" />
                    <button type="buttom" class="btn" value="Adicionar ao Carrinho" asp-action="AdicionarCarrinho">Adicionar ao Carrinho</button>
                </div>
            </div>
        }
    </div>
</div>