@page
@model RegisterModel

<div class="container" style="margin: 60px auto;">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex flex-row align-items-end mb-4">
                <h5 class="m-0">Identificação </h5> <span style="font-size: .8rem; margin-left: 10px; color: #bbb; font-weight: normal">Crie uma conta caso ainda não possua cadastro</span>
            </div>
            <hr style="background-color: #bbb"/>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="input d-flex flex-row align-items-center mb-2">
                    <label for="email" class="me-3">E-mail:</label>
                    <input asp-for="Input.Email" id="email" class="form-control" style="width: 380px; height: 60px; box-shadow: none;" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="input d-flex flex-row align-items-center mb-2">
                    <label for="email" class="me-3">Senha:</label>
                    <input asp-for="Input.Password" class="form-control" style="width: 200px; height: 60px; margin-right:10px; box-shadow: none;" autocomplete="current-password" aria-required="true" />
                    <button id="registerSubmit" type="submit" class="btn" style="width: 120px; height: 60px; background-color: #e6e6e6; color: #868686; font-size: .8rem; font-weight:bold; box-shadow: none;">PROSSEGUIR</button>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                
            </form>
        </div>       
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
