@{
    ViewData["Title"] = "Home";
}

<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/banner.webp" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="~/images/banner-1.webp" class="d-block w-100">
        </div>
    </div>
</div>
<div class="w-100 d-flex justify-content-center p-3" style="box-sizing: border-box">
    <img src="~/images/banner-pgt.webp" />
</div>
<div class="mid-banners">
    <div class="container p-0 d-flex flex-row justify-content-between">
        <div class="mid-banner flex-grow-1 pe-3">
            <a href="#"><img style="width: 100%; border-radius: 10px;" src="~/images/categoria-01.webp" /></a>
        </div>
        <div class="mid-banner flex-grow-1 ps-3" onMouseOver="this.style.color='#0F0'" onMouseOut="this.style.color='#00F'">
            <a href="#"><img style="width: 100%; border-radius: 10px;" src="~/images/categoria-02.webp" /></a>
        </div>
    </div>
</div>
<div class="card-group destaque">
    <h3 class="text-center mb-4">Em Destaque</h3>
    <div class="container">
        <div class="card">
            <div class="card-img-top">
                <a href="#"><img class="card-img-top" src="~/images/produtos/moto_serra.webp" /></a>
            </div>
            <div class="card-title">
                <a href="#"><h6 class="product-name">Moto Serra Eletroserra Vonder 1600W Ev1600 14 Pol | 110V</h6></a>
            </div>
            <div class="card-preco">
                <p class="produto-preco">R$ 438,21</p>
            </div>
            <div class="card-forma-pgt">
                <p class="forma-pgt"><strong>à vista com desconto</strong> ou <strong>10x</strong> de <strong>R$48,69</strong> sem Tarifa</p>
            </div>
            <div class="card-action">
                <input class="qtd" type="text" />
                <button type="buttom" class="btn btn-success" value="Adicionar ao Carrinho" asp-action="AdicionarCarrinho">Adicionar ao Carrinho</button>
            </div>
        </div>
        <div class="card">
            <div class="card-img-top">
                <a href="#"><img class="card-img-top" src="~/images/produtos/moto_serra.webp" /></a>
            </div>
            <div class="card-title">
                <a href="#"><h6 class="product-name">Moto Serra Eletroserra Vonder 1600W Ev1600 14 Pol | 110V</h6></a>
            </div>
            <div class="card-preco">
                <p class="produto-preco">R$ 438,21</p>
            </div>
            <div class="card-forma-pgt">
                <p class="forma-pgt"><strong>à vista com desconto</strong> ou <strong>10x</strong> de <strong>R$48,69</strong> sem Tarifa</p>
            </div>
            <div class="card-action">
                <input class="qtd" type="text" />
                <button type="buttom" class="btn btn-success" value="Adicionar ao Carrinho" asp-action="AdicionarCarrinho">Adicionar ao Carrinho</button>
            </div>
        </div>
        <div class="card">
            <div class="card-img-top">
                <a href="#"><img class="card-img-top" src="~/images/produtos/moto_serra.webp" /></a>
            </div>
            <div class="card-title">
                <a href="#"><h6 class="product-name">Moto Serra Eletroserra Vonder 1600W Ev1600 14 Pol | 110V</h6></a>
            </div>
            <div class="card-preco">
                <p class="produto-preco">R$ 438,21</p>
            </div>
            <div class="card-forma-pgt">
                <p class="forma-pgt"><strong>à vista com desconto</strong> ou <strong>10x</strong> de <strong>R$48,69</strong> sem Tarifa</p>
            </div>
            <div class="card-action">
                <input class="qtd" type="text" />
                <button type="buttom" class="btn btn-success" value="Adicionar ao Carrinho" asp-action="AdicionarCarrinho">Adicionar ao Carrinho</button>
            </div>
        </div>
        <div class="card">
            <div class="card-img-top">
                <a href="#"><img class="card-img-top" src="~/images/produtos/moto_serra.webp" /></a>
            </div>
            <div class="card-title">
                <a href="#"><h6 class="product-name">Moto Serra Eletroserra Vonder 1600W Ev1600 14 Pol | 110V</h6></a>
            </div>
            <div class="card-preco">
                <p class="produto-preco">R$ 438,21</p>
            </div>
            <div class="card-forma-pgt">
                <p class="forma-pgt"><strong>à vista com desconto</strong> ou <strong>10x</strong> de <strong>R$48,69</strong> sem Tarifa</p>
            </div>
            <div class="card-action">
                <input class="qtd" type="text" />
                <button type="buttom" class="btn btn-success" value="Adicionar ao Carrinho" asp-action="AdicionarCarrinho">Adicionar ao Carrinho</button>
            </div>
        </div>
    </div>
</div>
<div class="card-group eletricas">
    <h3 class="text-center mb-4">Ferramentas Elétricas</h3>
    <div class="container">
        <div class="card">
            <div class="card-img-top">
                <a href="#"><img class="card-img-top" src="~/images/produtos/moto_serra.webp" /></a>
            </div>
            <div class="card-title">
                <a href="#"><h6 class="product-name">Moto Serra Eletroserra Vonder 1600W Ev1600 14 Pol | 110V</h6></a>
            </div>
            <div class="card-preco">
                <p class="produto-preco">R$ 438,21</p>
            </div>
            <div class="card-forma-pgt">
                <p class="forma-pgt"><strong>à vista com desconto</strong> ou <strong>10x</strong> de <strong>R$48,69</strong> sem Tarifa</p>
            </div>
            <div class="card-action">
                <input class="qtd" type="text" />
                <button type="buttom" class="btn btn-success" value="Adicionar ao Carrinho" asp-action="AdicionarCarrinho">Adicionar ao Carrinho</button>
            </div>
        </div>
        <div class="card">
            <div class="card-img-top">
                <a href="#"><img class="card-img-top" src="~/images/produtos/moto_serra.webp" /></a>
            </div>
            <div class="card-title">
                <a href="#"><h6 class="product-name">Moto Serra Eletroserra Vonder 1600W Ev1600 14 Pol | 110V</h6></a>
            </div>
            <div class="card-preco">
                <p class="produto-preco">R$ 438,21</p>
            </div>
            <div class="card-forma-pgt">
                <p class="forma-pgt"><strong>à vista com desconto</strong> ou <strong>10x</strong> de <strong>R$48,69</strong> sem Tarifa</p>
            </div>
            <div class="card-action">
                <input class="qtd" type="text" />
                <button type="buttom" class="btn btn-success" value="Adicionar ao Carrinho" asp-action="AdicionarCarrinho">Adicionar ao Carrinho</button>
            </div>
        </div>
        <div class="card">
            <div class="card-img-top">
                <a href="#"><img class="card-img-top" src="~/images/produtos/moto_serra.webp" /></a>
            </div>
            <div class="card-title">
                <a href="#"><h6 class="product-name">Moto Serra Eletroserra Vonder 1600W Ev1600 14 Pol | 110V</h6></a>
            </div>
            <div class="card-preco">
                <p class="produto-preco">R$ 438,21</p>
            </div>
            <div class="card-forma-pgt">
                <p class="forma-pgt"><strong>à vista com desconto</strong> ou <strong>10x</strong> de <strong>R$48,69</strong> sem Tarifa</p>
            </div>
            <div class="card-action">
                <input class="qtd" type="text" />
                <button type="buttom" class="btn btn-success" value="Adicionar ao Carrinho" asp-action="AdicionarCarrinho">Adicionar ao Carrinho</button>
            </div>
        </div>
        <div class="card">
            <div class="card-img-top">
                <a href="#"><img class="card-img-top" src="~/images/produtos/moto_serra.webp" /></a>
            </div>
            <div class="card-title">
                <a href="#"><h6 class="product-name">Moto Serra Eletroserra Vonder 1600W Ev1600 14 Pol | 110V</h6></a>
            </div>
            <div class="card-preco">
                <p class="produto-preco">R$ 438,21</p>
            </div>
            <div class="card-forma-pgt">
                <p class="forma-pgt"><strong>à vista com desconto</strong> ou <strong>10x</strong> de <strong>R$48,69</strong> sem Tarifa</p>
            </div>
            <div class="card-action">
                <input class="qtd" type="text" />
                <button type="buttom" class="btn btn-success" value="Adicionar ao Carrinho" asp-action="AdicionarCarrinho">Adicionar ao Carrinho</button>
            </div>
        </div>
    </div>
</div>