@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
}

.mid-banner:hover {
    filter: blur(.8px);
    transition: .3s ease;
}

main .container {
    margin: 40px auto;
}

.container .card {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #fff;
    transition: .2s ease;
}

    .container .card:hover {
        border: 1px solid #dbdee1;
    }

    .container .card a {
        text-decoration: none;
    }

.container .card-title {
    margin: 0;
}



    .container .card-title h6 {
        margin: 0;
        padding: 7px;
        text-align: center;
        color: #545454;
        font-weight: normal;
        font-size: .9rem;
    }

.container .card-preco {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #f7812b;
}

    .container .card-preco p {
        margin: 0;
        padding-top: 10px;
    }

.container .card-forma-pgt {
    margin: 0;
    padding: 0 10px;
    font-size: .7rem;
    text-align: center;
    color: #545454;
}

.container .card-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px 15px;
}


    .container .card-action input {
        width: 60px;
        text-align: center;
        outline: none;
        border-radius: 10px;
        border: 1px solid #dbdee1;
    }

    .container .card-action .btn {
        background: #f7812b;
        color: #fff;
        border: none;
    }

main .container .action {
    display: flex;
    flex-direction: row;
    justify-content: initial;
}


    main .container .action input {
        width: 80px;
        height: 50px;
        margin-right: 20px;
        text-align: center;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #eee;
    }

    main .container .action .btn {
        padding: 10px 50px;
        margin-right: 20px;
        text-align: center;
        outline: none;
        border-radius: 5px;
        background: #f7812b;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
    }
